# .coveragerc to control coverage.py

[run]
omit=
    .venv/*
    */test*
    test/*
    *test*
    */__init__.py
    manage.py
    */interface_*.py

[report]
omit=
    .venv/*
    */test*
    test/*
    *test*
    */__init__.py
    manage.py
    */interface_*.py
